@font-face {
  font-family: "Jameel Noori Nastaleeq";
  src: url("https://pakstudentforum.herokuapp.com/http://www.fontsaddict.com/fontface/jameel-noori-nastaleeq.ttf");
}

.card_Main {
  /* width: 32.5rem;
  height: 27rem; */

  border-radius: 2rem;
  background-color: #f1f1f1;

  -moz-box-shadow: inset 0 0 10px #0000004b;
  -webkit-box-shadow: inset 0 0 10px #00000000;
  box-shadow: inset 0 0 10px #2e2e2e73;
}

.card_Main > h2 {
  margin-left: 20%;
}
.card_Options > h6 {
  display: inline;
  color: #4caf50;
}

.card_Options > p {
  display: inline;
  margin-left: 1rem;
  margin-right: 4rem;
  font-family: "Jameel Noori Nastaleeq";
  font-size: 1.3rem;
}

.card_Options > button {
  margin-left: 30%;
}
